quality score and order in language tags should take precedence over specificity

When I send a request with `Accept-Language: en,zh-TW;q=0.3` and the server supports both `en` and `zh-TW`, I get `zh-TW` as the locale, when I should be getting `en`.

I think it's caused by this part of the code: https://github.com/Baptistemontan/leptos_i18n/blob/d82366f1ca4a8ae91f3ba107047768b01622625f/leptos_i18n/src/langid.rs#L82-L107

Looking at [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html#name-accept-language) and https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Accept-Language, I don't think either doc mentions that should be the expected behaviour. The former references [Section 3 of RFC 4647](https://www.rfc-editor.org/rfc/rfc4647#section-3) for some matching schemes to consider.

I looked into fluent-template and did not quite understand their usage. I don't know if the `Accept-Languages` header is within their scope so I did not open an issue there.

I did however find [a comment from your hyperlink](https://github.com/XAMPPRocky/fluent-templates/blob/a24e99dc6f027447726510c13ece0713a2f4cc77/src/languages.rs#L3), saying that their implementation is taken from fluent-langneg, and that the original implementation does not sort by specificity.

I didn't thoroughly trace through the logic of fluent-langneg but judging by their comments and the fact that they have all three negotiation strategies from [Section 3 of RFC 4647](https://www.rfc-editor.org/rfc/rfc4647#section-3), I'm guessing they are more RFC compliant. I have tried replacing the filter_matches function you vendored from fluent-template with the [original implementation from fluent-langneg](https://github.com/projectfluent/fluent-langneg-rs/blob/945d2d8cbd1544948963743c327563a3ba834924/src/negotiate/mod.rs#L164) (with some minor changes like hardcoding to Lookup scheme, signature, and uisng icu v2) and it seemed to have fixed it. I'll open a PR :)